<div role="tablist" class="tabs tabs-bordered">
  <%= link_to "マイクイズ帳", mypage_quizzes_path, role: "tab", class: "tab #{'tab-active' if current_page?(mypage_quizzes_path) || current_page?(mypage_root_path)}" %>
  <%= link_to "LINE通知設定", edit_mypage_line_notification_path, role: "tab", class: "tab #{'tab-active' if current_page?(edit_mypage_line_notification_path)}" %>
  <%= link_to "アカウント設定", edit_mypage_account_path, role: "tab", class: "tab #{'tab-active' if current_page?(edit_mypage_account_path)}" %>
</div>