<footer class="footer footer-center bg-neutral text-neutral-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to '利用規約', terms_path, class: 'link link-hover' %>
    <%= link_to 'プライバシーポリシー', privacy_path, class: 'link link-hover' %>
  </nav>
  <aside>
    <p>Copyright © BetaMaster - All right reserved by BetaMaster</p>
  </aside>
</footer>
