<%= turbo_frame_tag 'quizzes-list', data: { turbo_action: :advance } do %>
  <table class="table sm:table-sm table-xs p-3 mt-6">
    <thead>
      <tr>
        <th>問題</th>
        <th class="w-1/6">正解</th>
        <th class="w-1/12"><%= sort_link(@q, :category_name, 'ジャンル') %></th>
        <th class="w-1/12">マイクイズ帳</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'quizzes/quiz', collection: @quizzes %>
    </tbody>
  </table>
<% end %>
